/** here the basics custom css**/
body {
  background-color: rgb(221, 221, 221);
}

.form{
  width: 320px;
}

.form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form input[type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 993px) {

}
